.accordion {
    background-color: transparent;
    color: rgb(218, 211, 211);
    cursor: pointer;
    margin: 0px;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: medium;
    transition: 0.4s;
    text-align: center;
}

.active,
.accordion:hover {
    background-color: rgba(204, 204, 204, 0.253);
}

.panel {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.status.Failed {
    color: red;
    font-weight: bold
}

.status.Running {
    color: yellow;
    font-weight: bold
}

.status.Error {
    color: rgb(255, 136, 0);
    font-weight: bold
}

.status.Succeeded {
    color: green;
    font-weight: bold
}

table {
    text-align: center;
    width: 100%;
}

.widthControl {
    text-align: center;
    width: 14.2%;
}

#header {
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: block;
    background-color: var(--vscode-editor-background);
}

h2 {
    padding-left: 10px;
}

#core {
    margin-top: 2.3cm;
}

#headerTable {
    background-color: rgb(73, 68, 68);
    font-size: medium;
}

body {
    padding: 0px;
    width: 100%;
}

.logConsole {
    height: 100px;
    overflow-y: auto;
}

.imageOutputTable {
    padding: 8%;
    width: 70%;
}

.imageOutputTable th {
    font-size: medium;
}
